.vintage-button {
  background-color: var(--primary-yellow);
  border: 3px solid black;
  text-transform: uppercase;
  padding: 12px 24px;
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px black;
  transition: all 0.1s ease;
  position: relative;
}

.vintage-button:active {
  box-shadow: 0px 0px 0px 0px black;
  transform: translate(5px, 5px);
}

.vintage-button:hover {
  background-color: var(--primary-pink);
}
