.surface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: auto;
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  position: relative;
  background-color: var(--space-black);
  border-radius: 4px; 
  border: 2px solid #000; 
  box-shadow: 6px 6px 0px 0px #DFFF00; 
  outline: 1px solid rgba(255, 255, 255, 0.1);
  outline-offset: -1px;
  transition: box-shadow 0.15s ease-out;
}

.surface:hover {
  box-shadow: 6px 6px 0px 0px #EA00FF; 
}