.surface {
  min-height: auto;
  width: 100%;
  display: flex;
  flex-direction: column; /* Ensure vertical stacking */
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  padding: 4rem 2rem; /* Reduced top padding */
  box-sizing: border-box;
  position: relative;
  background-color: var(--space-black);
  margin-bottom: 2rem;
  border-radius: 24px; 
}
