---
import Layout from "@/components/Layout.astro";
---

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/@mux/mux-player"></script>

<Layout>
  <main class="brochure">
    <!-- VIDEO -->
    <mux-player
      playback-id="PLY019I55aumhPRlZZHf00nLhQdnpCf01LjAimmZDuocIw"
      class="video-player"
    ></mux-player>
  </main>
</Layout>
<style>
  .video-player {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    line-height: 0;
  }

  /* Remove any default mux-player spacing */
  .video-player::part(video) {
    display: block;
  }
</style>
