---
---

<nav class="navbar">
  <div class="logo-section">
    <a href="/" class="logo-link">
      <img
        src="/logo.webp"
        alt="Musical Universe Factory Logo"
        width="534"
        height="184"
        class="nav-logo"
      />
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="/albums" class="nav-item">Albums</a></li>
    <li><a href="/writings" class="nav-item">Writings</a></li>
    <li><a href="/artwork" class="nav-item">Artwork</a></li>
    <li><a href="/education" class="nav-item">Education</a></li>
    <li><a href="/account" class="nav-item">Account</a></li>
  </ul>
</nav>
