---
import { Image } from "astro:assets";
import logo from "@/assets/Musical_Universe_Factory.webp";
---

<nav class="navbar">
  <div class="logo-section">
    <a href="/" class="logo-link">
      <Image
        src={logo}
        alt="Musical Universe Factory Logo"
        height={184}
        class="nav-logo"
      />
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="/albums" class="nav-item">Albums</a></li>
    <li><a href="/artwork" class="nav-item">Artwork</a></li>
    <li><a href="/account" class="nav-item">Account</a></li>
  </ul>
</nav>
