---
import { Image } from "astro:assets";
import logo from "@/assets/Musical_Universe_Factory.webp";
---

<nav class="navbar">
  <a href="/" class="logo-link">
    <Image
      src={logo}
      alt="Musical Universe Factory Logo"
      height={184}
      class="nav-logo"
    />
  </a>
  <ul class="nav-links">
    <li><a href="/account" class="nav-item">Account</a></li>
  </ul>
</nav>
